    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-md-0">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#!">Saved Articles</a>
              </li>
              <!-- <button type="scraper-button" class="btn btn-info">Scrape Soccer Articles!</button> -->
              {{!-- <a class="navbar-brand" href="/scrape"><button type="button" class="btn btn-outline-dark buttonTopic">News Scraper</button></a>  --}}
              <a class="navbar-brand" href="/"><button type="button" class="btn btn-outline-dark buttonTopic">News Scraper</button></a> 
            </ul>
          </div>
        </nav>

    <div id="buttons">
        <div id="action-button">
          <button id="make-new">Submit</button>
        </div>
        <button id="clear-all">Delete All Notes</button>
      </div>